*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #a9abad;
}

header {
    background-color: #1f2937;
    padding: 0 15%;
}

ul {
    list-style: none;
    padding: 8px 0;
    display: flex;
    gap: 1rem;
}

.logo {
    margin-right: auto;
    color: #f9faf8;
}

li a {
    text-decoration: none;
}

li a:visited {
    color: inherit;
}

.banner {
    padding: 5rem 0;
    display: flex;
    gap: 3rem;
    align-items: center;
}

h1 {
    color: #f9faf8;
    font-size: 3rem;
}

.banner-info {
    flex-basis: 45%;
}

.banner-info p {
    margin: 1rem 0;
}
