*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #a9abad;
}

header {
    background-color: #1f2937;
    padding: 0 15%;
}

ul {
    list-style: none;
    padding: 8px 0;
    display: flex;
    gap: 1rem;
}

.logo {
    margin-right: auto;
    color: #f9faf8;
}

li a {
    text-decoration: none;
}

li a:visited {
    color: inherit;
}

.banner {
    padding: 5rem 0;
    display: flex;
    gap: 3rem;
    align-items: center;
}

h1 {
    color: #f9faf8;
    font-size: 3rem;
}

.banner-info {
    flex-basis: 45%;
}

.banner-info p {
    margin: 1rem 0;
}


h2 {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    margin: 3rem 0;
}


.info-flex {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 8rem;
}

.info-items {
    width: 15%;
}

.info-items p {
    margin-top: 1rem;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    padding: 8rem 0;
}

.quote-container {
    width: 70%;
    margin: 0 auto;
}

.quote-author {
    font-size: 1.5rem;
    text-align: right;
    font-style: normal;
    color: #1f2937;
    font-weight: bold;
}